<div class="donations" id="donations">

  <div class="content">

    <h1>Donations</h1>

    <div class="image">
        <img src="../../../assets/img/donation.jpg" alt="illustrative-setup">
        <figcaption>Illustrative image, it's not my setup.</figcaption>
    </div>

    <h2>Make a donation of any amount to help me build a better computer to create better projects and content for you
      guys!</h2>
    <p>The lack of access to opportunities is one of the factors that most impacts people's ability to make a difference
      in the world with their skills.</p>

    <a mat-button href="https://www.paypal.com/donate/?business=UFC3W3AYG654U&no_recurring=1&item_name=Donations+to+build+my+setup+and+continue+to+post+quality+videos+and+relevant+content%21&currency_code=USD" target="_blank" color="accent"> <i class="bi bi-paypal"></i> Make a Donation </a>

  </div>

</div>
