<div class="projects" id="projects">

  <div class="title">
    <h1>Personal Portfolio</h1>
  </div>

  <div class="container-content">

    <div class="container">
      <div class="row row-cols-3 bg-white">
        <div class="col mat-elevation-z8"> <a href="https://petlov.herokuapp.com" target="_blank"> <img
              src="../assets/img/project1.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://fitclubb.herokuapp.com" target="_blank"> <img
              src="../assets/img/project2.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://coffeesquare.herokuapp.com" target="_blank"> <img
              src="../assets/img/project3.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://marketcourses.herokuapp.com" target="_blank"> <img
              src="../assets/img/project4.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://anime-playlist.vercel.app" target="_blank"> <img
              src="../assets/img/project5.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://game-adivinha.vercel.app" target="_blank"> <img
              src="../assets/img/project6.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://jogo-de-helicoptero.vercel.app" target="_blank"> <img
              src="../assets/img/project7.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://detona-games.vercel.app" target="_blank"> <img
              src="../assets/img/project8.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://tour-of-heroes-wine.vercel.app" target="_blank"> <img
              src="../assets/img/project9.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://tour-of-heroes-wine.vercel.app" target="_blank"> <img
              src="../assets/img/project10.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://tour-of-heroes-wine.vercel.app" target="_blank"> <img
              src="../assets/img/project11.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="">
              <video autoplay loop>
                    <source src="../../../assets/videos/project12.mp4" type="video/mp4">
              </video>
        </a>
        </div>

      </div>
    </div>

  </div>

</div>
