<div class="about" id="about">

  <div class="container">

    <div class="image">
      <img src="../../../assets/img/about.jpg" alt="owner-portfolio">
    </div>

    <div class='content'>
      <span>About Me</span>
      <h3 class='title'>Every day is a chance to become better</h3>
      <p>I'm a Junior Front End Developer who loves to learn new things! I also like to share my knowledge with others
        (it helps me learn more too). My stack is PHP with Laravel for the web. Currently working with Angular, I can
        also play a bit on the Back-End with Node.JS + Express with TypeScript and C# and I know a little bit about
        Pentest. My goal is to become a FullStack developer!</p>
      <div class='box-container'>
        <div class='box'>
          <h3> <i class="bi bi-check2-all"></i> Hard Skill </h3>
          <ul>
            <li>Project Management</li>
            <li>Intermediary English</li>
            <li>Personal Marketing</li>
            <li>Analysis and Systems Development</li>
            <li>Hardware Maintenance</li>
          </ul>
        </div>
        <div class='box'>
          <h3> <i class="bi bi-check2-all"></i> Soft Skill </h3>
          <ul>
            <li>Interpersonal Comunication</li>
            <li>Persuasion</li>
            <li>Proactivity</li>
            <li>Resilience</li>
            <li>Conflict Resolution</li>
            <li>Leadership</li>
            <li>Confidence</li>
            <li>Creativity</li>
            <li>Communication</li>
            <li>Organization</li>
          </ul>
        </div>
        <div class='box'>
          <h3> <i class="bi bi-check2-all"></i> Technologies </h3>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Sass/Scss</li>
            <li>TypeScript</li>
            <li>Angular 2</li>
            <li>Bootstrap</li>
            <li>PHP</li>
            <li>Laravel</li>
            <li>C#</li>
            <li>Node.JS</li>
            <li>SQL/SQL Server</li>
            <li>MVC</li>
            <li>Linux</li>
            <li>PhotoShop</li>
          </ul>
        </div>
        <div class='box'>
          <h3> <i class="bi bi-check2-all"></i> Experience </h3>
          <ul>
            <li>
                Administrative Assistant at Nice Moveis
                <p>5 Months</p>
            </li>
            <li>
                Logistical Assistant at Nice Moveis
                <p>5 Months</p>
            </li>
            <li>
                Front-End Development Angular Fellow at <a href="https://www.linkedin.com/company/pitang/mycompany/verification/">Pitang</a>
                <p>3 Months</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
