<nav class="navbar navbar-light bg-light shadow">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Portfolio</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">MENU</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <ul class="list-group list-group-flush mat-elevation-z8">
            <li class="list-group-item">Home</li>
            <li class="list-group-item">About</li>
            <li class="list-group-item">Portfolio</li>
            <li class="list-group-item">Donations</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section id="presentation">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <h2>I am Victor Martins and I am a<br>junior software developer Front-End.</h2>
                    <p>I have a personal philosophy in life: If somebody else can do something<br>that I'm doing, they should do it. And what I want to do is find things that<br>would represent a unique contribution to the world - the contribution that<br>only I, and my portfolio of projects, can make happen. Those are my<br>priorities in life.</p>
                    <hr>
                    <div class="social-media">
                      <ul fxLayout="row" fxLayoutAlign="space-evenly center" >
                        <li> <a href="#"> <i class="bi bi-linkedin"></i> </a> </li>
                        <li> <a href="#"> <i class="bi bi-instagram"></i> </a> </li>
                        <li> <a href="#"> <i class="bi bi-github"></i> </a> </li>
                        <li> <a href="#"> <i class="bi bi-youtube"></i> </a> </li>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/img/user.png" alt="owner-portfolio">
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="container-content">

    <div class="container-main">

        <div class="content-text">
            <h2>I am Victor Martins and I am a<br>Junior Software Developer Front-End.</h2>
            <p>I have a personal philosophy in life: If somebody else can do something that im doing, so i leave that they do it. And what i want to do is find things that would represent a unique contribution to the world - the contribution that only I, and my portfolio of projects, can make happen. Those are my priorities in life.</p>
        </div>

        <div class="content-img">
            <img src="../assets/img/user.png" alt="owner-portfolio">
        </div>

    </div>

</div> -->