<div id="presentation">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6">
          <h2>I am Victor Martins and I am a<br>junior software developer Front-End.</h2>
          <p>I have a personal philosophy in life: If somebody else can do something<br>that I'm doing, they should do
            it. And what I want to do is find things that<br>would represent a unique contribution to the world - the
            contribution that<br>only I, and my portfolio of projects, can make happen. Those are my<br>priorities in
            life.</p>
          <hr>
          <div class="social-media">
            <ul fxLayout="row" fxLayoutAlign="space-evenly center">
              <li> <a href="#"> <i class="bi bi-linkedin"></i> </a> </li>
              <li> <a href="#"> <i class="bi bi-instagram"></i> </a> </li>
              <li> <a href="#"> <i class="bi bi-github"></i> </a> </li>
              <li> <a href="#"> <i class="bi bi-youtube"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="../assets/img/user.png" alt="owner-portfolio">
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="projects">

  <div class="title">
    <h2>9 Best Projects</h2>
  </div>

  <div class="container-content">

    <div class="container">
      <div class="row row-cols-3 bg-white">
        <div class="col mat-elevation-z8"> <a href="https://petlov.herokuapp.com"> <img src="../assets/img/project1.png"
              alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://fitclubb.herokuapp.com"> <img
              src="../assets/img/project2.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://coffeesquare.herokuapp.com"> <img
              src="../assets/img/project3.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://marketcourses.herokuapp.com"> <img
              src="../assets/img/project4.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://anime-playlist.vercel.app"> <img
              src="../assets/img/project5.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://game-adivinha.vercel.app"> <img
              src="../assets/img/project6.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://jogo-de-helicoptero.vercel.app"> <img
              src="../assets/img/project7.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://detona-games.vercel.app"> <img
              src="../assets/img/project8.png" alt="img-projects"> </a> </div>
        <div class="col mat-elevation-z8"> <a href="https://tour-of-heroes-wine.vercel.app"> <img
              src="../assets/img/project9.png" alt="img-projects"> </a> </div>
      </div>
    </div>

  </div>

</div>